@use "../../styles/variables" as *;

.auth-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh;
  width: 100%;
  position: fixed; /* Garante que o contêiner seja posicionado corretamente */

  .auth-form-container {
    width: 450x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    border-radius: 10px;
    border: 1.5px solid $border-light;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); // Sombra suave abaixo
    position: relative;
    margin: auto;
    background-color: $white-2-figma;

    .logo {
      width: 150px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      margin-bottom: 40px;
      color: $text-primary;
      font-size: 0.9rem;
      text-align: center;
    }

    .input-icon {
      position: absolute; /* Faz o ícone ser posicionado dentro do input */
      right: 10px; /* Ajuste a distância da borda direita */
      top: 50%; /* Centraliza verticalmente */
      transform: translateY(-50%); /* Ajuste fino para centralizar o ícone */
      pointer-events: none; /* Impede que o ícone interfira com a interação do usuário */
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; /* Centraliza os itens horizontalmente */

      .form-group {
        width: 100%; /* Faz o grupo ocupar toda a largura do formulário */
        max-width: 500px; /* Define uma largura máxima para centralizar */
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: stretch; /* Garante que os inputs ocupem toda a largura do grupo */

        label {
          display: block;
          margin-bottom: 8px;
          color: $text-primary;
          font-size: 1rem;
          text-align: left; /* Alinha o texto do label à esquerda */
        }

        input {
          width: 100%; /* Faz o input ocupar toda a largura do .form-group */
          padding: 15px;
          padding-left: 50px;
          border: 1px solid $border-light;
          border-radius: 12px;
          font-size: 1rem;
          transition: border-color 0.2s ease;
          box-sizing: border-box;
          background-color: $white-figma;
          border-color: $gray-40-figma;
          color: $gray-80-figma;

          &:focus {
            outline: none;
            border-color: $gray-90-figma;
          }
      
        }
      }

      .forgot-password {
        text-align: right;
        margin-bottom: 20px;

        a {
          color: $gray-80-figma;
          text-decoration: none;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
            color: $info-figma;
          }
        }
      }

      .submit-btn {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center;
        width: 70%;
        padding: 15px;
        background-color: $primary;
        color: $white;
        border: none;
        border-radius: 8px;
        font-size: 1.1rem;
        cursor: pointer;
        transition: all 0.2s ease;
        margin: 0 auto;
        background-color: $green-2-figma;

        &:hover {
          background-color: $green-figma;
          transform: translateY(-2px);
          box-shadow: $shadow-md;
        }

        &:active {
          transform: translateY(0);
        }
      }
    }

    .switch-mode {
      margin-top: 20px;
      // color: $text-secondary;
      color: $gray-80-figma;
      text-align: center;
      font-size: 1rem;

      a {
        color: $gray-80-figma;
        text-decoration: none;
        font-weight: 500;
        margin-left: 5px;

        &:hover {
          text-decoration: underline;
          color: $info-figma;
        }
      }
    }
  }
}

.input-wrapper {
  position: relative; /* Necessário para posicionar os ícones */
  width: 100%;

  

  .icon {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centralizar */
    font-size: 1.2rem;
    color: $text-secondary;
    pointer-events: none; /* Impede que o ícone interfira na interação do usuário */
  }

  .email-icon {
    left: 15px; /* Ícone de envelope à esquerda */
    color: $gray-60-figma;
  }

  .lock-icon {
    left: 15px; /* Ícone de cadeado à esquerda */
    color: $gray-60-figma;
  }

  .toggle-password {
    position: absolute;
    top: 25%; /* Centraliza verticalmente */
    right: 15px; /* Ícone de olho à direita */
    // background: none;
    // border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: $gray-60-figma;
  }
}
